#.terraform artifacts & state
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS / editor junk
.DS_Store
.vscode/
.idea/
*.bak

# Terraform state & local cache
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.auto.tfvars

# Kube & misc
kubeconfig
*.pem

# local logs
*.log
